# Database Configuration
DB_USER=postgres
DB_PASSWORD=password
DATABASE_URL=postgresql://postgres:password@db:5432/inventory_mgmt

# Admin Configuration
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Frontend Configuration
VITE_API_URL=http://localhost:8000